{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "ie": "11"  // Ensures compatibility with Internet Explorer 11
          }
        }
      ]
    ]
  }